doctype html
html(lang="en")
  head
    title= title
    meta(name="description" content="#{ description }")
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width")
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel="stylesheet" href="/css/main.css")
    link(rel="stylesheet" href="/css/prism.css")
    link(href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet" type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Lora:400,400italic" rel="stylesheet" type="text/css")
  body
    != partial("../partials/_header")
    if current.path[0] == 'blog'
        != partial(current.path[0] + '/_nest')
    else
        != yield
    script(type="text/javascript" src="/js/prism.js")