doctype
html
  head
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" href="/css/main.css")
    link(rel="stylesheet" href="/css/prism.css")
    link(href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet" type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Lora:400,400italic" rel="stylesheet" type="text/css")
    script(type="text/javascript" src="/js/prism.js")
  body
    != yield