.container
  .row.row-divided
    .col-1
      p col-1
    .col-1
      p col-1
    .col-1
      p col-1
    .col-1
      p col-1
    .col-1
      p col-1
    .col-1
      p col-1
    .col-1
      p col-1
    .col-1
      p col-1
    .col-1
      p col-1
    .col-1
      p col-1
    .col-1
      p col-1
    .col-1
      p col-1
  .row.row-divided
    .col-2
      p col-2
    .col-2
      p col-2
    .col-2
      p col-2
    .col-2
      p col-2
    .col-2
      p col-2
    .col-2
      p col-2
  .row.row-divided
    .col-3
      p col-3
    .col-3
      p col-3
    .col-3
      p col-3
    .col-3
      p col-3
  .row.row-divided
    .col-4
      p col-4
    .col-4
      p col-4
    .col-4
      p col-4
  .row.row-divided
    .col-6
      p col-6
    .col-6
      p col-6
  .row.row-divided
    .col-12
      p col-12
.container960
  .row.row-divided
    .col-1
      p col-1
    .col-1
      p col-1
    .col-1
      p col-1
    .col-1
      p col-1
    .col-1
      p col-1
    .col-1
      p col-1
    .col-1
      p col-1
    .col-1
      p col-1
    .col-1
      p col-1
    .col-1
      p col-1
    .col-1
      p col-1
    .col-1
      p col-1
  .row.row-divided
    .col-2
      p col-2
    .col-2
      p col-2
    .col-2
      p col-2
    .col-2
      p col-2
    .col-2
      p col-2
    .col-2
      p col-2
  .row.row-divided
    .col-3
      p col-3
    .col-3
      p col-3
    .col-3
      p col-3
    .col-3
      p col-3
  .row.row-divided
    .col-4
      p col-4
    .col-4
      p col-4
    .col-4
      p col-4
  .row.row-divided
    .col-6
      p col-6
    .col-6
      p col-6
  .row.row-divided
    .col-12
      p col-12
.container720
  .row.row-divided
    .col-1
      p col-1
    .col-1
      p col-1
    .col-1
      p col-1
    .col-1
      p col-1
    .col-1
      p col-1
    .col-1
      p col-1
    .col-1
      p col-1
    .col-1
      p col-1
    .col-1
      p col-1
    .col-1
      p col-1
    .col-1
      p col-1
    .col-1
      p col-1
  .row.row-divided
    .col-2
      p col-2
    .col-2
      p col-2
    .col-2
      p col-2
    .col-2
      p col-2
    .col-2
      p col-2
    .col-2
      p col-2
  .row.row-divided
    .col-3
      p col-3
    .col-3
      p col-3
    .col-3
      p col-3
    .col-3
      p col-3
  .row.row-divided
    .col-4
      p col-4
    .col-4
      p col-4
    .col-4
      p col-4
  .row.row-divided
    .col-6
      p col-6
    .col-6
      p col-6
  .row.row-divided
    .col-12
      p col-12
      h1 The Quick Brown Fox Jumps Over the Lazy Dog
      span.subheading Subheadings are Pretty Awesome
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
      h2 This is the Beginning of a Section
      p Sometimes, you need to write a blog post just to add space to your page so you can test out typopgraphy styles, you know? A blog post will generally start with a short introductory paragraph.
      p Then, it will continue with a longer paragraph, or perhaps paragraphs! Helvetica narwhal Schlitz, cray Vice wayfarers direct trade hoodie brunch tote bag whatever. Synth YOLO drinking vinegar jean shorts, Thundercats 3 wolf moon messenger bag put a bird on it Echo Park +1. Helvetica gastropub mlkshk, disrupt meggings biodiesel pour-over cornhole. Brooklyn post-ironic dreamcatcher disrupt raw denim. Ennui keffiyeh Intelligentsia, four loko PBR street art master cleanse. Retro Tonx Pitchfork, you probably haven't heard of them quinoa Cosby sweater locavore Brooklyn crucifix. Farm-to-table occupy PBR&B umami Shoreditch banh mi literally, paleo Godard pug messenger bag.
      p 8-bit roof party keytar, salvia cray bicycle rights Vice Godard messenger bag selvage master cleanse lomo whatever next level XOXO. Organic food truck Blue Bottle umami asymmetrical, XOXO cardigan tousled VHS fap irony High Life normcore.
      h2 Hey, it's Another Text Area!
      p But this text area, you guys, is special. It will include some lists and even block quotes and code samples!
      ol
        li First, you buy some chocolate, marshmallows, and graham crackers
        li Now you one pan and put the oven on broil
        li Put a graham cracker on the pan and put a marshmallow on it
        li Put the pan in the oven and let the marshmallow brown
        li Take the pan out and put chocolate on the marshmallow
        li Put the chocolate on and let it melt slightly
        li Eat the s'more!
      p More paragraph is coming, for context. Godard messenger bag selvage master cleanse lomo whatever next level XOXO. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae.
      ul
        li Hey, it's an unordered list!
        li They can be fun for bullet points
        li We can make them short
        li Or, if we prefer, longer. With a full parapgrah inside, perhaps. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      p Some more filler text in between, yo. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo.
      p Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      blockquote "What is paradise? This morning, having coffee, with her."
      p Johnny Cash said that (or something similar) once. The end.
!= partial("../../partials/_footer")
