- var articles = []
for article, slug in public.blog._data
  if article.date
    - article.slug = slug
    - articles.push(public.blog._data[slug])

.container
  h1 Blog
.container720
  for article in articles
    ul
      li
        a(href="/blog/#{ article.slug }") #{ article.title }